/* Define CSS Variables */
:root {
  --blue: #004f9f;
  --orange: hsl(13, 100%, 54%);
  --grey-medium: #c8c8c8;
  --base-font-size: 16px;
  --medium-font-size: 26px;
  --medium--font-weight: 600;
  --base-line-height: 24px;
  --swiper-theme-color: var(--blue);
}

@media screen and (max-width: 1400px) {
  :root {
    --base-font-size: 14px;
    --medium-font-size: 20px;
    --base-line-height: 22px;
  }
}

/* General Slider Container */
.product-slider-container {
  background-color: #f0f8ff;
  padding: 60px 0px;
}

/* Title and Arrows */
.product-slider-container .title-and-arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 24px 20px;
}

.product-slider-container .section-title {
  text-transform: uppercase;
  font-size: var(--medium-font-size);
  font-weight: var(--medium--font-weight);
  letter-spacing: 2px;
  margin: 0px;
}

.product-slider-container .arrows-container {
  display: flex;
  gap: 12px;
}

.product-slider-container .arrow {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.product-slider-container .arrow img {
  width: 21px;
}

.product-slider-container .arrow-right img {
  transform: rotate(180deg);
}

/* Slider */
.product-slider {
  position: relative;
  overflow: hidden;
}

/* Swiper Slide */
.swiper-slide {
  background-color: #fff;
  box-sizing: border-box;
  padding: 24px;
  text-align: center;
  transition: transform 0.3s ease;
}

.swiper-slide:hover,
.swiper-slide:focus {
  transform: translateY(-5px);
}

/* Product Image */
.product-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
}

/* Product Details */
.product-title {
  font-size: var(--base-font-size);
  margin-bottom: 0px;
  text-align: left;
  line-height: var(--base-line-height);
  letter-spacing: 0px;
  margin-top: 4px;
}

.product-price {
  text-align: left;
  vertical-align: middle;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: var(--medium-font-size);
  font-weight: var(--medium--font-weight);
  display: flex;
  line-height: 28px;
  align-items: flex-end;
}

/* Prices */
.prices-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.abLabel {
  font-size: var(--base-font-size);
  font-weight: 400;
  height: fit-content;
  vertical-align: baseline;
  line-height: 25px;
  margin-right: 5px;
}

.abLabel.sale-price {
  color: var(--orange);
}
.product-price--old {
  text-decoration: line-through;
  color: var(--grey-medium);
  font-size: var(--base-font-size);
  font-weight: 400;
}

.product-price--current.sale-price {
  color: var(--orange);
}

/* Swiper Navigation Buttons */
.product-slider-container .arrow {
  background-color: #ffffff;
  border-radius: 2px;
  width: 48px;
  height: 48px;
  line-height: 40px;
  border: 1px solid var(--blue);
}

.product-slider-container .arrow:hover {
  background-color: #ffffff;
}

/* Swiper Pagination */
.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: var(--blue);
}

/* Custom Link Styling */
.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

@media screen and (max-width: 1024px) {
  /* General Slider Container */
  .product-slider-container {
    padding: 48px 0px;
  }

  .product-slider-container .arrows-container {
    display: none;
  }
  .product-slider-container .title-and-arrows-container {
    justify-content: center;
  }

  .swiper.product-slider {
    padding-bottom: 60px;
  }
  .swiper-pagination {
    bottom: 0px;
  }

  /* Swiper Slide */
  .swiper-slide {
    padding: 12px;
  }
}

/* Hardcoded Star Rating */

.rating-stars {
  height: 22px;
}

.starsContainer {
  display: flex;
}
